.log_in__form{
    margin: 8% auto;
    padding: 2%;
    min-height: 80px;
}
.formSignIn{
    min-height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input {
    border:0;
    outline: none;
} 